{% extends "index.html" %}

{% load static %}

{% block map %}
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
{% endblock %}

{% block content %}

<section class="section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h3 class="mb-4">Bản đồ cơ bản</h3>
            </div>

                <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                    <div class="row" style="height: 770px">
                        <div id="map"></div>
                    </div>
                </div>

        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="{% static 'js/map/simple.js' %}"></script>
{% endblock %}